<div class="footer-link">
    <p>Copyright © 2020 Your 云笔记</p>
</div>
<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
<script src="/javascripts/jquery.min.js"></script>

<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="/javascripts/bootstrap.min.js"></script>
<script src="/javascripts/noty.min.js"></script>
<script src="/javascripts/login/modernizr.custom.86080.js"></script>
<script src="/javascripts/login/particles.js"></script>
<script src="/javascripts/login/bg.js"></script>
<script src="/javascripts/login/login.js"></script>
<script>

</script>
</body>
</html>