<div class="chapter-title container-fluid">
    <div class="navbar-header">
        <label><i class="glyphicon glyphicon-fire"></i>&nbsp;文档分类</label>
    </div>
    <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-plus"></i>&nbsp;新建<b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
                <li><a href="javascript:void(0);" id="addFolder"><i class='fa fa-folder-o'></i>&nbsp;文件夹</a></li>
                <li><a href="javascript:void(0);" id="editFolder"><i class='fa fa-file-o'></i>&nbsp;重命名</a></li>
                <li><a href="javascript:void(0);" id="addDoc"><i class='fa fa-file-o'></i>&nbsp;文档</a></li>
                <li><a href="javascript:void(0);" id="template"><i class='fa fa-file-text-o'></i>&nbsp;模板接口</a></li>
            </ul>
        </li>
    </ul>
</div>
<div class="chapter-sidebar">
    <aside class="main-sidebar">
        <section class="sidebar">
            <input type="hidden" id="currentCategory" value="5e74d421bd68c4301208cf5b"/>
            <div id="left-tree">
            </div>
        </section>
    </aside>
</div>

<!--弹出框 新增权限 start-->
<div class="modal fade" id="addOperation-dialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document" style="width:300px;height:100px;">
        <div class="modal-content radius_5">
            <div class="modal-body">
                <div class="row form-inline">
                        <div class="input-group" style="margin: 4px;">
                            <label class="sr-only" for="name">分类名称</label>
                            <input id="categoryName" type="text" class="form-control" placeholder="分类名称" required/>
                            <input id="categoryEditID" type="hidden" class="form-control"/>
                        </div>
                        <div class="input-group">
                            <button id="Save" type="button" class="btn btn-primary">保存</button>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>
<!--弹出框 新增权限 end-->