body {
    min-height: 100vh;
    width: 100%;
    min-width: 100%;
    overflow-x: auto;
    box-sizing: border-box;
    font: 13px '微软雅黑', 'Microsoft Yahei', Helvetica Neue, Hiragino Sans GB, '宋体', 'simsun', '黑体', Arial, sans-serif;
    padding-right: 0 !important;
    position: relative;
}

a {
    color: #333;
}

.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 0px;
    border-radius: 0px;
}

.chapter-title {
    position: relative;
    border-bottom: 1px solid #eee;
    line-height: 54px;
    height: 54px;
    font-size: 14px;
    color: #4c4c4c;
    font-weight: 700;
    padding-left: 20px;
    padding-right: 30px;
}

.chapter-sidebar {
    width: 100%;
    float: left;
    top: -5px;
    position: relative;
}

.chapter-title .collapse-btn {
    position: absolute;
    right: 20px;
    top: 16px;
    cursor: pointer;
}

.chapter-muen {
    position: absolute;
    top: 52px;
    bottom: 0;
    left: 0;
    float: left;
    padding: 0px;
    transition: -webkit-transform .5s;
    transition: transform .5s;
    transition: transform .5s, -webkit-transform .5s;
}

.chapter-center {
    position: fixed;
    top: 52px;
    bottom: 0;
    left: 16.66666667%;
    float: left;
    padding: 0px;
    transition: -webkit-transform .5s;
    transition: transform .5s;
    transition: transform .5s, -webkit-transform .5s;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
}

.doc-content {
    overflow: no-display;
    position: fixed;
    height: 100%;
    right: 0;
    padding: 0px;
    background-color: #f5f5f5;
    transition: -webkit-transform .5s;
    transition: transform .5s;
    transition: transform .5s, -webkit-transform .5s;
}

.el-menu {
    border-right: 1px solid #e6e6e6;
    list-style: none;
    position: relative;
    margin: 0;
    padding-left: 0;
}

.el-menu-vertical {
    height: calc(100% - 83px);
    background-color: #f5f5f5;
    overflow: auto;
}

#editor {
    border-left: 0px;
}

.title-input {
    width: 100%;
    height: 53px;
    line-height: 53px;
    padding: 10px;
    border: 0px;
    font-weight: bold;
    font-size: 17px;
    outline:none;
}
.title-input:focus {
    border: 0px;
    outline:none;
    background-color: #eee;
}
.newbtn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.navbar-right {
    margin-right: 0px;
}

.list-li {
    position: relative;
    padding: 15px 20px;
    border-bottom: 1px solid #e0e1e5;
    overflow: hidden;
}

.list-li:hover {
    background: #eee;
}

.list-li .title {
    display: -webkit-flex;
    height: 22px;
    -webkit-align-items: center;
    position: relative;
}

.list-li.selected {
    background-color: #eaf0fb;
}

.list-li .date-size {
    color: #c2c2c2;
    margin-top: 6px;
    height: 20px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    -webkit-text-overflow: ellipsis;
}

.list-li .file-name {
    display: inline-block;
    margin-left: 10px;
    color: #393939;
    line-height: 16px;
    flex: 1;
    -webkit-flex: 1;
    white-space: nowrap;
    text-overflow: ellipsis;
    -webkit-text-overflow: ellipsis;
    overflow: hidden;
    position: relative;
}

#content_list {
    margin: 0px;
    padding: 0px;
}

.sidebar-menu li > a > .fa-angle-left, .sidebar-menu li > a > .pull-right-container > .fa-angle-left {
    width: auto;
    height: auto;
    padding: 0;
    margin-right: 10px;
    -webkit-transition: transform .5s ease;
    -o-transition: transform .5s ease;
    transition: transform .5s ease;
}

.sidebar-menu > li > a > .fa, .sidebar-menu > li > a > .glyphicon, .sidebar-menu > li > a > .ion {
    width: 20px;
}

.sidebar-menu > li > a {
    border-left: 3px solid transparent;
}

.list-group-item:first-child {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.list-group-item {
    border: 0px solid #ddd !important;
}

.main-sidebar {
    width: 100%;
}

#categoryTest {
    text-overflow: ellipsis;
    white-space: nowrap; /*禁止自动换行*/
    overflow: hidden;
}
#content_list li.addDocLi {
    text-align: center;
    margin-top: 10px;
}
.modal.fade.in{
    left: 10%;
}